
/*-------------------------------*/
/*          map                  */
/*-------------------------------*/
.leaflet-control-container .leaflet-routing-container-hide {
    display: none;
}

#info-window-panel{
    z-index: 100;
    text-align:center;
    overflow: auto!important;
    text-align: center;
    visibility: hidden;
}

#mapid{ 
    z-index: 0;
    position: absolute;
    top : 0;
    left: 0;
    height: 100%; 
    width: 100%;
    }


/*-------------------------------*/
/*          map shadow           */
/*-------------------------------*/
#map-shadow{
    z-index: 30!important;
    top : 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: absolute;
}

/*-------------------------------*/
/*      radius:                  */
/*-------------------------------*/
#radius-panel{
    z-index: 30;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#radius-header{
    z-index: 30;
    position: absolute;
    top: 0!important;
    left: 0!important;
    width: 98%!important;
    height: 50px!important;
    margin-left: 1%!important;
    margin-top: 5px!important;
    background: whitesmoke;
    text-align:center;
    line-height : 50px;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
     border-radius: 15px 50px 30px;
}

#radius-slider{
    position: absolute;
    width: 90%;
    bottom: 40px;
    left: 5%; 
}

/*-------------------------------*/
/*      directions               */
/*-------------------------------*/

#direction-header{
    z-index: 30;
    position: absolute;
    top: 0!important;
    left: 0!important;
    width: 98%!important;
    height: 50px!important;
    margin-left: 1%!important;
    margin-top: 5px!important;
    background: whitesmoke;
    text-align:center;
    line-height : 50px;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
     border-radius: 15px 50px 30px;
}

#direction-instructions{
    z-index: 50;
    position: absolute;
    bottom: 10px;
    margin: auto;
    left: 0;
    right: 0;
    width: 88%;
    background-color: #334; /* Black background color */
    opacity: 0.8;
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 10px; /* Rounded borders */
    padding: 16px; 
    
}




/*-------------------------------*/
/*        settings               */
/*-------------------------------*/
#settings-panel{
    z-index: 40;    
    position: absolute;
    width: 96%;
    height: 90%;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: auto;
    text-align:center;
}



/*-------------------------------*/
/*        edit station           */
/*-------------------------------*/
#edit-station{
    z-index: 40;    
    position: absolute;
    width: 96%;
    height: 90%;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: auto;
    text-align:center;
}



/*-------------------------------*/
/*        add station            */
/*-------------------------------*/
#add-station{
    width: 100%;
    height: 100%;
}

#add-station-header{
    z-index: 30;
    position: absolute;
    top: 0!important;
    left: 0!important;
    width: 98%!important;
    height: 50px!important;
    margin-left: 1%!important;
    margin-top: 5px!important;
    background: whitesmoke;
    text-align:center;
    line-height : 50px;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
     border-radius: 15px 50px 30px;
}

#add-station-panel{
    z-index: 40;    
    position: absolute;
    width: 96%;
    height: 90%;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: auto;
    text-align:center;
}

/*-------------------------------*/
/*        stations list          */
/*-------------------------------*/
#station-list-trigger{
    z-index: 20;
    position: absolute!important;
    bottom : 15px!important;
    left : 10px!important;
}

#stations-list-panel{
    z-index: 40;    
    position: absolute;
    width: 96%;
    height: 90%;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    
    overflow: auto;
    -webkit-overflow-scrolling: auto;
    
    text-align:center;
}

#report-button{
    width: 70px;
    height: 25px;
    font-size: 10px;  
}
#reclamation-button{
    width: 110px;
    height: 35px;
    font-size: 12px; 
}

#searchInput{
    width: 0px;

}
#searchInput:focus{
     width: 80%;
}
/*-------------------------------*/
/*        Réclamation             */
/*-------------------------------*/
#reclamation-panel,#reclamations-panel{
    z-index: 40;    
    position: absolute;
    width: 96%;
    height: 90%;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    
    overflow: auto;
    -webkit-overflow-scrolling: auto;
    
    text-align:center;
}

/*-------------------------------*/
/*        circle Button          */
/*-------------------------------*/

.btn-circle {
  width: 54px;
  height: 54px;
  text-align: center;
  padding: 0 0;
  font-size: 20px;
  line-height: 0.50;
  border-radius: 35px;
}

.btn-circle-small {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 0 0;
  font-size: 17px;
  line-height: 0.50;
  border-radius: 25px;
}



/*-------------------------------*/
/*       current position        */
/*-------------------------------*/
#current-position-trigger{
    z-index: 20;
    position: absolute;
    bottom: 15px;
    right: 10px;
}


/*-------------------------------*/
/*          side bar             */
/*-------------------------------*/

#side-bar-panel{
    z-index: 30!important;
    top : 0;
    left: 0;
    overflow: hidden;
    width: 85%;
    max-width: 400px;
    height: 100%;
    position: absolute;   
}


#side-bar-trigger{
    z-index: 20;
    position: absolute!important;
    top : 10px!important;
    left: 15px!important;
}

#owner-station-header{
    z-index: 29;
    position: absolute;
    top: 0!important;
    left: 0!important;
    width: 98%!important;
    height: 50px!important;
    margin-left: 1%!important;
    margin-top: 5px!important;
    background: whitesmoke;
    text-align:center;
    line-height : 50px;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
     border-radius: 15px 50px 30px;
}

.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus {background-color: transparent;}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 100%;
    height: 100%;
    margin-left: -222px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}




#page-content-wrapper {
    width: 100%;
    padding-top: 70px;
}



/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}
    
.sidebar-nav li {
    position: relative; 
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}
.sidebar-nav li:first-child a {
    color: #fff;
    background-color: #1a1a1a;
}
.sidebar-nav li:nth-child(2):before {
    background-color: #ec1b5a;   
}
.sidebar-nav li:nth-child(3):before {
    background-color: #79aefe;   
}
.sidebar-nav li:nth-child(4):before {
    background-color: #314190;   
}
.sidebar-nav li:nth-child(5):before {
    background-color: #279636;   
}
.sidebar-nav li:nth-child(6):before {
    background-color: #7d5d81;   
}
.sidebar-nav li:nth-child(7):before {
    background-color: #ead24c;   
}
.sidebar-nav li:nth-child(8):before {
    background-color: #2d2366;   
}
.sidebar-nav li:nth-child(9):before {
    background-color: #35acdf;   
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 16px 15px 16px 15px;    
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}


/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(250,250,250,.8);
    z-index: 1;
}


/*-------------------------------*/
/*       connection toast        */
/*-------------------------------*/

#connection-toast{
    z-index: 28;
    position: absolute;
    bottom: 10px;
    margin: auto;
    left: 0;
    right: 0;
    width: 60%;
    max-width: 180px;
    background-color: #333; /* Black background color */
    opacity: 0.6;
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 10px; /* Rounded borders */
    padding: 16px; 
    
}



div.stars {
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 2px;
  font-size: 16px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 3px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}